html, body {
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
    font-size: 1.8vh;
    overflow-x: auto;
}

.full-height {
    height: 100vh;
}

.position-ref {
    position: relative;
}

.auth-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    min-width: 40vh;
    margin-top: 4%;
    margin-bottom: 4%;

}

.auth-image {
    margin-bottom: 10%;
}

.auth-readonly {
    width: 60%;
    padding: 1%;
    border: 1px solid black;
    background-color: oldlace;
}

.auth-readonly:focus { 
    outline: 1px solid #636b6f; 
}

.auth-feedbacks {
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.invalid-feedback {
    text-align: center;
    width: 100%;
    bottom:  : 10%;
}