html, body {
    background-color: #fff;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4vh;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px grey;
    border: solid 4px transparent;
}

::-webkit-datetime-edit-second-field {
    background: white;
    color: transparent;
    margin-left: -3px;
    position: absolute;
    width: 1px;
  }

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #29abe2;
}

a:focus {
    outline: none;
}

button:hover {
    color: #29abe2;
}

button:focus {
    outline: none;
}

/* SIDEBAR RELATED STYLES */

.sidebar-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    position: relative; 
    left: 2%;
    height: 100%;
    width: 17%;
    min-width: 11vh;
    border-radius: 5px;
    background-color: lightgrey;
    z-index: 2;
}

.sidebar-section {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    margin-top: 10%;
}

.sidebar-section-label {
    font-weight: bold;
    margin-bottom: 5%;
}

.sidebar-link {
    margin-bottom: 5%;
}

/* HEADER RELATED STYLES */

.app-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 15%;
    width: 100%;
    padding-top: 2vh;
}

.app-header-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    padding-left: 2%;
}

.app-header-userinfos {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    right: 2%;
    top: 2%;
}

/* APP LAYOUT STYLES */

.app-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.app-body {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 82%;
    margin-bottom: 2%;
    width: 100%;
    overflow-x: auto;
}

.app-content {
    width: 100%;
    height: 100%;
    margin-left: 4%;
    margin-right: 2%;
}