
/* BODY RELATED STYLES */

.app-body-runs {
    height: 95%;
    width: 100%;
    min-width: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-body-runs-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 4%;
    text-align: left;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 1%;
}

.app-body-runs-label-new {
    font-size: 1.5vh;
}

.app-run-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    background-color: lightgrey;
    padding: 2%;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.6vh;
    margin-top:0.6vh;
}

.app-run-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.app-run-header-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin-bottom: 2%;
    font-weight: bold;
}

.app-run-label-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: top;
}

.app-run-label-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 2vh;
    height: 2vh;
    color: black;
    border: none;
    font-size: 1.25vh;
}

.app-run-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    box-sizing: border-box;
}

.app-run-informations {
    width: 75%;
}

.app-run-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    margin-bottom: 0.7%;
}

.app-run-information-label {
    font-weight: bold;
    width: 20%;
    min-width: 10vh;
}

.app-run-information-content {
    width: 72%;

}

.app-run-benevoles {
    width: 25%;
    min-width:8vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    margin-bottom: 0.7%;
}

.app-run-benevoles-names {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.app-run-benevoles-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 0.7%;
    font-size: 50%;
}

.app-run-benevoles-add {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1.25vh;
}

.app-run-benevoles-remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 2vh;
    color: black;
    border: none;
    font-size: 1.25vh;
    margin-left: 1vh;
}

/* MODALS RELATED STYLES */

.modal-container {
    width: 100%;
    height: 100%; 
    display: none;                        
    position: fixed;                      
    left: 0px;
    top: 0px;
    z-index: 1;               
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    z-index: 4;
}

.modal-container:focus {
    outline: none;
}

.modal-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.edit-modal-content {
    height: 90%;
    width: 80%;  
}

.show-modal-content {
    height: 90%;
    width: 80%;
    font-size: 1.5vh;  
}

.modal-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 92%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    background-color: lightgray;
}

.modal-header-title {
    font-weight: bold;
    font-size: 2vh;
}

.modal-header-close {
    position: absolute;
    background-color: transparent;
    border: none;
    text-decoration: 1px white;
    right: 4%;
    font-size: 2.1vh;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
    margin-left: 4%;
    height: 92%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-body-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-title {
  font-weight: bold;
  font-size: 1.5vh;
  padding-left: 3vh;
  margin-bottom: 2%;
  border-bottom: 1px solid grey;
  text-align : left;
}

.modal-footer {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px grey solid;
}

.modal-footer-button {
    border: none;
    height: 4vh;
    width: 8vh;
    background-color: transparent;
    font-size: 1.5vh;
    margin-left: 4%;
    margin-right: 4%;
} 