
/* FORM RELATED STYLES */

.form-title {
    font-weight: bold;
    text-align: left;
    margin-top: 2vh;
}

.form-form {
    width: 100%;
    height: 100%;
}

.form-content {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 2%;
}

.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-row {
    position: relative;
    width: 100%;
    height: 3.6vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

.form-input-label {
    font-size: 1.5vh;
    text-align: left;
    vertical-align: middle;
}

.form-checkbox-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 3.6vh;
    width: 100%;
    margin-top: 1vh;
}

.form-input-checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 5%;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

.form-input-checkbox-label:hover {
  color: #29abe2;
}

.form-input-checkbox {
  position: absolute;
  bottom: 2vh;
  right: 6%;
  transform: translateY(50%);
  visibility: hidden;
}

.form-input-checkbox-icon {
  position: absolute;
  bottom: 1.8vh;
  right: 6%;
  transform: translateY(50%);
  color:transparent;
}

.form-input-feedback {
    bottom: 0.75vh;
    right: 1vh;
    position: absolute;
    background-color: transparent;
}

.form-input-feedback-message {
    bottom: 0.75vh;
    right: 5%;
    position: absolute;
    background-color: transparent;
}

.form-input-field {
    width: 100%;
    height: 100%;
    font-size: 1.5vh;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 2%;
    -webkit-appearance: none;
}

.form-validation-pass {
  color: green;
}

.form-validation-fail {
  color: red;
}
.form-buttons-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 10%;
}

.form-buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    text-align: center;
    height: 3%;
    width: 20%;
    min-width: 10vh;
    border:none;
    margin-top: 1vh;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 1.5vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.form-button-icon {
    padding-right: 0.5vh;
}

.form-button:hover {  
    color: #29abe2;
}

.form-button:focus {  
    outline: none;
}

.form-link:hover {  
    color: #29abe2;
}
