.app-body-coordos {
    height: 100%;
    width: 100%;
    min-width: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-body-coordos-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 4%;
    text-align: left;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 1%;
}

.app-coordo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    background-color: lightgrey;
    padding: 2%;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.6vh;
    margin-top:0.6vh;
}

.app-coordo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.app-coordo-header-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin-bottom: 2%;
    font-weight: bold;
}

.app-coordo-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    box-sizing: border-box;
}

.app-coordo-informations {
    width: 95%;
}

.app-coordo-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    margin-bottom: 0.7%;
}

.app-coordo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: top;
}

.app-coordo-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 2vh;
    height: 2vh;
    color: black;
    border: none;
    font-size: 1.25vh;
}

.app-coordo-button-add {
	top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 3.6vh;
    color: black;
    box-sizing: border-box;
    border: 1px solid grey;
    font-size: 1.25vh;
    border-radius: 5px;
}